<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="CodeTestOslash" parallel="classes">
        <parameter name="browser" value="chrome"></parameter>
        <packages>
            <package name="com.qlearly.regressions.tests.boards.*"></package>
        </packages>
    </test> <!-- CodeTestOslash -->
</suite> <!-- Default Suite -->
